{% extends 'base.html.twig' %}


{% block title %}Produit admin{% endblock %}

{% block body %}

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Contenu</th>
                    <th>Prix</th>
                    <th>Date de création</th>
                    <th>Actions</th>
                </tr>
            </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.content }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_product_show', {'id': product.id}) }}">Voir</a>
                    <a href="{{ path('app_admin_product_edit', {'id': product.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas de produit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_product_new') }}">Création produit</a>
{% endblock %}
