{% extends 'base.html.twig' %}

{% block title %}Modifier le Profil{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Modifier votre profil</h1>

        <div class="d-flex justify-content-center">
            <div class="col-lg-8">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                    <div class="form-group row mb-3">
                        {{ form_label(form.email, 'Email', {'attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.email) }}
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        {{ form_label(form.firt_name, 'Prénom', {'attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.firt_name, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.firt_name) }}
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        {{ form_label(form.name, 'Nom', {'attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.name) }}
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        {{ form_label(form.date_of_birth, 'Date de naissance', {'attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.date_of_birth, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.date_of_birth) }}
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        {{ form_label(form.address, 'Adresse', {'attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.address, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.address) }}
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        {{ form_label(form.phone, 'Numéro de téléphone', {'attr': {'class': 'col-sm-3 col-form-label'}}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                            {{ form_errors(form.phone) }}
                        </div>
                    </div>

                    <div class="form-group row mt-4">
                        <div class="col-sm-12 text-center">
                            <button class="btn btn-secondary">Enregistrer</button>
                            
                        </div>
                    </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
     <!-- Footer-->
 <footer class="main-footer">
    <!-- Services block-->
    <div class="bg-gray-100 text-dark-700 py-6">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 service-column">
            <svg class="svg-icon service-icon">
              <use xlink:href="#delivery-time-1"> </use>
            </svg>
            <div class="service-text">
              <h6 class="text-uppercase">Livraison gratuite &amp; retour</h6>
              <p class="text-muted fw-light text-sm mb-0">Livraison gratuite à partir de 500 €</p>
            </div>
          </div>
          <div class="col-lg-4 service-column">
            <svg class="svg-icon service-icon">
              <use xlink:href="#money-1"> </use>
            </svg>
            <div class="service-text">
              <h6 class="text-uppercase">GARANTIE DE REMBOURSEMENT</h6>
              <p class="text-muted fw-light text-sm mb-0">Garantie de remboursement de 30 jours</p>
            </div>
          </div>
          <div class="col-lg-4 service-column">
            <svg class="svg-icon service-icon">
              <use xlink:href="#customer-support-1"> </use>
            </svg>
            <div class="service-text">
              <h6 class="text-uppercase">06 09 65 44 16</h6>
              <p class="text-muted fw-light text-sm mb-0">Assistance disponible 24h/24 et 7j/7</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Main block - menus, subscribe form-->
    <div class="py-6 bg-gray-300 text-muted"> 
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="fw-bold text-uppercase text-lg text-dark mb-3">The book prestige<span class="text-primary">.</span></div>
            <p>Vente de livre de grande qualité</p>
            
          </div>
          <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
            <h6 class="text-uppercase text-dark mb-3">Page</h6>
            <ul class="list-unstyled">
              <li> <a class="text-muted" href="{{ path('app_home') }}">Accueil</a></li>
              <li> <a class="text-muted" href="{{ path('app_product_index') }}">Produit</a></li>
              <li> <a class="text-muted" href="{{ path('app_about') }}">A propos</a></li>
              <li> <a class="text-muted" href="{{ path('app_contact') }}">Contact</a></li>
              <li> <a class="text-muted" href="{{ path('cart_index') }}">Mon panier</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
            <h6 class="text-uppercase text-dark mb-3">Entreprise</h6>
            <ul class="list-unstyled">
              <li> <a class="text-muted" href="{{ path('app_login') }}">Login                    </a></li>
              <li> <a class="text-muted" href="{{ path('app_register') }}">Register                    </a></li>
            </ul>
          </div>
          <div class="col-lg-4">
            <h6 class="text-uppercase text-dark mb-3">nouveautés</h6>
            <p class="mb-3"> Restez informés des nouveautés sur le site</p>
            <form action="#" id="newsletter-form">
              <div class="input-group mb-3">
                <input class="form-control bg-transparent border-secondary border-end-0" type="email" placeholder="Your Email Address" aria-label="Votre adresse email">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary border-start-0" type="submit"> <i class="fa fa-paper-plane text-lg text-dark"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Copyright section of the footer-->
    <div class="py-4 fw-light bg-gray-800 text-gray-300">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 text-center text-md-start">
            <p class="mb-md-0">&copy; 2020 The book prestige.  Tous droits réservés.</p>
          </div>
          
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
