{% extends "base.html.twig" %}

{% block title %}Vérification{% endblock %}

{% block body %}
<style>
    .step-title {
        display: flex;
        align-items: center;
    }
    .step-title span {
        margin-left: 5px;
    }
    .product-title a {
        color: black;
        text-decoration: none;
    }
    .product-title a:hover {
        color: black;
    }
    .order-summary {
        margin-top: 0;
    }
    .order-summary-container {
        display: flex;
        align-items: flex-start; /* Aligner les éléments au début */
    }
</style>
<br>
<br>

<div class="hero-content text-center">
    <h1 class="hero-heading">Vérification de la commande</h1>
</div>
<br>
<br>
<br>
<div class="container mx-auto">
    <div class="row order-summary-container">
        <div class="col-lg-6">
            <h3 class="fs-base fw-normal text-body text-uppercase pb-1 pb-sm-1 step-title"><span class="text-decoration-underline ms-1">1. Expédition</span></h3>
            <div class="form-check mb-4">
                <label class="form-check-label d-flex justify-content-between">
                    <p>{{ transporter.title }}</p>
                </label>
            </div>

            <h3 class="fs-base fw-normal text-body text-uppercase pb-2 pb-sm-3 step-title"><span class="text-decoration-underline ms-1">2. Adresse pour la livraison</span></h3>
            <div class="form-check mb-4">
                <label class="form-check-label d-flex justify-content-between">
                    <span class="d-block fs-base text-dark fw-medium mb-1">{{ delivery|raw }}</span>
                </label>
            </div>
        </div>

        <div class="col-lg-6 order-summary">
            <h3 class="fs-base fw-normal text-body text-uppercase pb-2 pb-sm-3 step-title"><span class="text-decoration-underline ms-1">3. Récapitulatif de la commande</span></h3>
            {% set total = 0 %}
            {% for product in recapCart %}
                {% set total = total + (product.product.price * product.quantity) %}
                <div class="d-sm-flex align-items-center border-top py-4">
                    <div class="d-inline-block flex-shrink-0 p-sm-2 p-xl-3 mb-2 mb-sm-0">
                        <img src="/images/products/{{ product.product.imageName }}" alt="card-img-top" style="width: 200px; height: 200px; object-fit: cover;">
                    </div>
                    <div class="w-100 pt-1 ps-sm-4">
                        <div class="d-block">
                            <div class="me-3" style="position: relative; top:15px;">
                                <h3 class="h5 mb-2 product-title"><a href="">{{ product.product.title }}</a></h3>
                            </div>
                            <div>
                                <p class="mb-2">Quantité: {{ product.quantity }} - Prix du produit: {{ product.product.price }}€</p>
                            </div>
                        </div>
                        <div class="nav justify-content-end mt-n4">
                            <a class="nav-link fs-xl p-2" href="{{ path('app_cart_remove', {id:product.product.id}) }}" data-bs-toggle="tooltip" title="remove">Supprimer</a>
                        </div>
                    </div>
                </div>
                <br>
            {% endfor %}

            {% set total = total + transporter.price %}
            <div class="d-sm-flex align-items-center border-top py-4">
                <div class="w-100 pt-1 ps-sm-4">
                    <div class="d-block">
                        <div class="me-3" style="position: relative; top:15px;">
                            <h3 class="h5 mb-2">Transporteur</h3>
                        </div>
                        <div>
                            <p class="mb-2">Prix de l'expédition: {{ transporter.price }}€</p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="mb-2">Total à payer: {{ total }}€</p>
            <form method="POST" action="{{ path('payment_stripe', {reference:reference}) }}">
                <button class="btn btn-dark" type="submit">Payer</button>
            </form>
        </div>
    </div>
</div>
<br>
<footer class="main-footer">
    <!-- Services block -->
    <div class="bg-gray-100 text-dark-700 py-6">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 service-column">
                    <svg class="svg-icon service-icon">
                        <use xlink:href="#delivery-time-1"> </use>
                    </svg>
                    <div class="service-text">
                        <h6 class="text-uppercase">Livraison gratuite &amp; retour</h6>
                        <p class="text-muted fw-light text-sm mb-0">Livraison gratuite à partir de 500 €</p>
                    </div>
                </div>
                <div class="col-lg-4 service-column">
                    <svg class="svg-icon service-icon">
                        <use xlink:href="#money-1"> </use>
                    </svg>
                    <div class="service-text">
                        <h6 class="text-uppercase">GARANTIE DE REMBOURSEMENT</h6>
                        <p class="text-muted fw-light text-sm mb-0">Garantie de remboursement de 30 jours</p>
                    </div>
                </div>
                <div class="col-lg-4 service-column">
                    <svg class="svg-icon service-icon">
                        <use xlink:href="#customer-support-1"> </use>
                    </svg>
                    <div class="service-text">
                        <h6 class="text-uppercase">06 09 65 44 16</h6>
                        <p class="text-muted fw-light text-sm mb-0">Assistance disponible 24h/24 et 7j/7</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main block - menus, subscribe form -->
    <div class="py-6 bg-gray-300 text-muted">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="fw-bold text-uppercase text-lg text-dark mb-3">The book prestige<span class="text-primary">.</span></div>
                    <p>Vente de livre de grande qualité</p>
                </div>
                <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
                    <h6 class="text-uppercase text-dark mb-3">Page</h6>
                    <ul class="list-unstyled">
                        <li><a class="text-muted" href="{{ path('app_home') }}">Accueil</a></li>
                        <li><a class="text-muted" href="{{ path('app_product_index') }}">Produit</a></li>
                        <li><a class="text-muted" href="{{ path('app_about') }}">A propos</a></li>
                        <li><a class="text-muted" href="{{ path('app_contact') }}">Contact</a></li>
                        <li><a class="text-muted" href="{{ path('cart_index') }}">Mon panier</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 mb-5 mb-lg-0">
                    <h6 class="text-uppercase text-dark mb-3">Entreprise</h6>
                    <ul class="list-unstyled">
                        <li><a class="text-muted" href="{{ path('app_login') }}">Login</a></li>
                        <li><a class="text-muted" href="{{ path('app_register') }}">Register</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h6 class="text-uppercase text-dark mb-3">nouveautés</h6>
                    <p class="mb-3">Restez informés des nouveautés sur le site</p>
                    <form action="#" id="newsletter-form">
                        <div class="input-group mb-3">
                            <input class="form-control bg-transparent border-secondary border-end-0" type="email" placeholder="Your Email Address" aria-label="Votre adresse email">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary border-start-0" type="submit">
                                    <i class="fa fa-paper-plane text-lg text-dark"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright section of the footer -->
    <div class="py-4 fw-light bg-gray-800 text-gray-300">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-md-0">&copy; 2020 The book prestige. Tous droits réservés.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock %}
